parameters:
    level: 9
    paths:
        - src
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined( static)? method Quatrevieux\\Form\\Util\\Call#'
